<div class="un-connect-dialer" data-ng-init="init()" data-ng-show="peerId">
    <form ng-submit="connect()">
        <label for="input-add" translate>Add user</label>
        <div class="un-connect-dialer-input-group">
            <input type="text" data-ng-model="connectId" autocomplete="off" placeholder="{{'Enter user name'|translate}}" id="input-add"
                   class="" required="true">
            <span class="button-group">
              <button data-ng-disabled="!connectId"
                      type="button" data-ng-click="connect()">
                  <i class=""></i>
              </button>
            </span>
        </div>
    </form>
</div>