<div class="login">
    <div data-ng-show="!peerId">
        <div class="page-header">
            <h2 translate>Please sign in</h2>
        </div>
        <form class="form-group">
            <label class="sr-only" for="input-message" translate>Your phone number</label>
            <div class="input-group">
                <input type="text"
                       data-ng-model="newPeerId"
                       class="form-control input-lg" id="input-message" placeholder="{{'Enter your phone number' | translate}}"
                       autocomplete="off">
                <span class="input-group-btn">
                    <div ui-sref="chat" class="btn btn-primary btn-lg" data-ng-click="login();">
                        <i class="fa fa-sign-in"></i>
                    </div>
                </span>
            </div>

        </form>
    </div>
</div>